<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List</title>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1 {
            color: #e6b328;
        }

        input,
        textarea,
        div {
            padding: 2px;
            margin-top: 10px;
        }

        label {
            font-size: 14px;
        }
        #actvty {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="content">
        <h1 onclick="window.location.href = 'http://127.0.0.1:8000';">TodoApp</h1>
        <form action="/data" method="GET">
            <input type="text" name="title" id="title" placeholder="Task" height="50px" width="50%" required>
            <div><textarea name="content" placeholder="Description" id="content" cols="50" rows="10"></textarea></div>
            <label for="date">Date for the activity</label>
            <input type="date" name="date" id="date" required>
    </div>
   
    <div>
        <button type="reset" value="reset">Clear</button>
        <button type="submit">Submit</button>
    </div>
    </form>
    <button id="actvty" onclick="window.location.href = 'http://127.0.0.1:8000/list/';">List of activities</button>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


</body>

</html>